* {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:  weight;
  font-style: normal;
}
.info {
  color: hsl(75, 94%, 57%);
  margin-top: 0;
  background-color: hsl(0, 0%, 12%);
}
.data {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  width: fit-content;
  justify-self: center;
  padding: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  top: 90px;
}
img {
  width: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}
.myData {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
}
h2 {
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 12%);
}
p {
  background-color: hsl(0, 0%, 12%);
}
button {
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: hsl(0, 0%, 20%);
  border-radius: 9px;
  margin-bottom: 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  cursor: pointer;
}
button:hover {
  color: black;
  background-color: hsl(75, 94%, 57%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
